# This workflow runs tests on every push
name: Test StackSifter on Commit

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore ./tests/StackSifter.Tests/StackSifter.Tests.csproj

      - name: Build
        run: dotnet build --configuration Release ./tests/StackSifter.Tests/StackSifter.Tests.csproj

      - name: Run tests
        run: dotnet test --no-build --configuration Release ./tests/StackSifter.Tests/StackSifter.Tests.csproj
